body{
    background:black;
    margin:0;
    display:flex;
    padding:50px 10px 0 10px;
}

.container{
    position:relative;
    width:100%;
    border:1px solid black;
    border-radius:20px;
    box-shadow:0 -2px 5px darkgrey , 0 2px 5px darkgrey;
    background:black;
    padding:5px;
    margin:10px;
    max-height:950px;
    overflow-y:auto;
}
.card{
    min-height:500px;
    margin:20px 5px 20px 5px;
    padding:20px; 
    background:#ff4900;
    border-radius:3px;
    border:1px solid darkgrey;
    position:sticky;
    top:0;
    box-shadow:0 7px 10px black, 0 -7px 10px black;
}
p{
    text-shadow:1.0px 0 yellow;
    font-family:serif;
    font-weight :600;
    font-size:3.0em;
    text-align:center;
    padding-top:40px;
}
.intro{
    min-height:500px;
    margin:20px 5px 20px 5px;
    padding:20px; 
    background:#ff4900;
    border-radius:3px;
    border:1px solid darkgrey;
    position :sticky;
    top:0;
    box-shadow:0 7px 10px black, 0 -7px 10px black ;
}
.quotes{
    font-size:3.5em;
    font-family :serif;
    font-weight :bold;
    text-align:center;
    padding-top:66px;
    text-shadow:1.0px 0 yellow;
    }
    
.end{
     font-size:3.2em;
    font-family :serif;
    font-weight :700;
    text-align:center;
    padding-top:46px;
    text-shadow:1.0px 0 yellow;
}
.card:nth-child(2){
    top:10px;
    }
.card:nth-child(3){
    top:20px;
}
.card:nth-child(4){
    top:30px;
}
.card:nth-child(5){
    top:40px;
}
.card:nth-child(6){
    top:50px;
}
.card:nth-child(7){
    top:60px;
}
.intro:nth-child(2){
    top:70px;
}

/* Media Query */
@media(max-width:780px){
    .end{
        font-size:2.8em;
    }
    .quotes{
        font-size:3.0em;
    }
    p{
        font-size:2.2em;
    }
    body{
        padding-top:30px;
    }
    }
    
